
body{
    height:100vh;
    background-color:#e5e5e5;
    margin: 0;
}

/* main */
.main-wrapper{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:100%;
    height:100%;
    max-width: 1440px;
    max-height: 700px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

/* left */

.left{
    width: 50%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: #ffff;

}
.left__top{
    width:100%;
}
.logo{
    width: 102px;
    height:30px;
    display: inline-block;
}
.logo__icon{
    width:100%;
    height:100%;
}
.logo__small{
    /* max-width: 70px; */
    width:19%;
    display:none;
    margin-bottom: 10px;
}
.left__bottom{
    width: 100%;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}
.who{
    margin-top: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}


/* right */
.right{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 34px 30px 0; 
    background-color: #EAF2F1;;
}
.right__top{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.right__top_points{
    width:70px;
    height:16.2px;
    text-decoration: none;
}

.exit-button{
    max-width:26px;
    max-height:26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.exit-button__icon{
    width:100%;
    height:100%;
}

.right__bottom{
    width:80%;
    height:62%;
    margin: 0 auto;
}
.right__bottom_small{
    display:none;
}
.right__bottom_picture{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.welcome__link{
    width: 386px;
    height:42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    text-decoration: none;
    background: #2F796F;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 68px;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
}
 .assignee{
    background-color: #048BA8;
}

@media screen and (max-width:992px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .logo{
        display:none;
    }
    .logo__small{
        display:block;
    }
    .exit-button{
        margin-left: 44px;
        width:12px;
        height: 12px;
    }
    .welcome{
        width:50%;
    }
    .welcome__link{
        width:100%;
        height: 33px;
        margin-bottom: 15px;
    }
    .left{
        width:100%;
        order: 2;
        padding:10px;
    }
    .who{
        margin:0;
    }
    .left__top{
        padding-left:35px;
    }
    .right {
        width: 100%;
        /* height:20%; */
        order: 1;
        padding-top: 10px;

    }
    .right__top{
        width:95%;
        align-items:start;
        padding-top:5px;
       
    }
    .right__bottom{
        display:none;
    }
    .right__bottom_small{
        display: inline-block;
        width:20%;
        height: 100%;
        margin: 0 auto;
    }    
}

@media screen and (max-width:450px){
    .welcome{
        width:90%;
        height: 90%;
        padding-bottom: 100px;
    }
    .welcome__link{
        width:100%;
        margin-bottom: 10px;
        height: 42px;
    }
    .who{
        margin:10px;
        
    }
    .left{
        height: 80%;
        padding: 0;
    }
    .logo{
        width: 70px;
    }
    .right{
        /* height:20%; */
        padding: 0;
    }
    .circle{
        width:10px;
        height: 10px;
    }
    .exit-button__icon{
        width: 12px;
        height: 12px;
    }
}
/* @media screen and (max-height:350px){
    .right__bottom_small{
        height:25%;
    }
.logo__small{
    margin-bottom: 0;
}
.exit-button__icon {
    width: 12px;
    height: 12px;
}
.right__top_points {
    width: 70px;
    height: 16.2px;
    text-decoration: none;
}
} */
@media screen and (max-height:350px){
.right__top {
    align-items:center
}